# IDE
.vscode/
.idea/
*.suo
*.user
*.userosscache
*.iml

# OS
.DS_Store
Thumbs.db
desktop.ini

# Temp
*.tmp
*.temp
~$*.docx
~$*.xlsx

# Logs
*.log
logs/

# Node / Frontend
node_modules/
dist/
dist-ssr/
*.local
.vite/
.husky/
